node_modules/
/dist/
.next/
/out/
.DS_Store 
public_extra/
.env.local
data/

.env.*

.env
.env.development
.env.production
.env.test
.env.test.local
.env.production
.env.production.local
.env.test
.env.test.local
